VITE_SUPABASE_URL=https://ufiknngfinuzylmpxlag.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmaWtubmdmaW51enlsbXB4bGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1ODcyNjEsImV4cCI6MjEwMzE2MzI2MX0.8ptYUaRT59Bh9MXjpA8u6ht6hvgrmk0CtrlZXFRH0oI
VITE_USE_SUPABASE=true
